body {
  color: #201a1e;
}

.btn-create {
  background-color: #7fb746;
  color: white;
}

.btn-board {
  background-color: #f5ca2f;
  color: white;
}

.btn-delete-board {
  background-color: #f44336;
  color: white;
}

.pin-card {
  border: 1px solid #201a1e;
}
